<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Side navigation -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kredencijali</title>

    <!-- scripts -->
    <partial name="_Style" />
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <!-- side navigation -->
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <div class="navbar nav_title" style="border: 0;">
                        <div class="row col-12">
                            <div class="col-md-3">
                                <a href="javascript:;" class="user-profile">
                                    <img src="~/production/images/credential.jpg" style="margin-top: 15px; margin-left: 7px;" />
                                </a>
                            </div>

                            <div class="col-md-9">
                                <a href="javascript:;" class="site_title" style="padding:0px !important;"><span>Kredencijali</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="profile clearfix">
                        <!--img_2 -->
                        <div class="profile_pic">
                            <img src="~/production/images/user.png" alt="..." class="img-circle profile_img">
                        </div>

                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>Korisniku</h2>
                        </div>
                    </div>

                    <br>
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Kredencijali"><i><img src="~/production/images/credential.jpg" height="100px" width="200px" /></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" href="javascript:;" @*asp-action="Logout" asp-area="User" asp-controller="Identity"*@ title="Logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/production/images/user.png" alt="">
                                    Korisnik
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown" x-placement="bottom-start" style="position: absolute; transform: translate3d(-88px, 21px, 0px); top: 0px; left: 0px; will-change: transform;">
                                    <a class="dropdown-item" href="avascript:;" @*asp-area="" asp-controller="User" asp-action="Profile"*@> Profile</a>
                                    <a class="dropdown-item" href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Settings</span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">Help</a>
                                    <a class="dropdown-item" type="submit" href="javascript:;" @*asp-action="Logout" asp-area="User" asp-controller="Identity"*@><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
        </div>
    </div>
    <!-- scripts -->
    <partial name="_JS" />

    @RenderSection("Scripts", required: false)
</body>
</html>